In [1]:
import pandas as pd
df = pd.read_csv('n_spam.csv')
df.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [4]:
df.groupby('Category').describe()

         Message                                                            \
           count unique                                                top
Category
ham         4825   4516                             Sorry, I'll call later
spam         747    653  Please call our customer service representativ...


         freq
Category
ham        30
spam        4

In [8]:
df['spam'] = df.Category.map({'ham':0,'spam':1})
df.head()

  Category                                            Message  spam
0      ham  Go until jurong point, crazy.. Available only ...     0
1      ham                      Ok lar... Joking wif u oni...     0
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...     1
3      ham  U dun say so early hor... U c already then say...     0
4      ham  Nah I don't think he goes to usf, he lives aro...     0

In [9]:
from sklearn.model_selection import train_test_split

In [36]:
x_train, x_test, y_train, y_test = train_test_split(df.Message,df.spam,test_size=0.25)

In [37]:
x_test

745              Dunno he jus say go lido. Same time 930.
1817                    Well i will watch shrek in 3D!!B)
2964    Not yet had..ya sapna aunty manege y'day hogid...
5449    Latest News! Police station toilet stolen, cop...
3620    That means from february to april i'll be gett...
                              ...
4734                 Oh k:)after that placement there ah?
1335    Sometimes we put walls around our hearts,not j...
4700                               I liked the new mobile
3084                                      In da car park
2458              Cool, I'll text you when I'm on the way
Name: Message, Length: 1393, dtype: object

In [14]:
from sklearn.feature_extraction.text import CountVectorizer

In [15]:
v = CountVectorizer() #use for count occurence word for the entire dataset

In [16]:
x_train_count = v.fit_transform(x_train.values)

In [18]:
x_train_count.toarray()

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [20]:
from sklearn.naive_bayes import MultinomialNB

In [21]:
model = MultinomialNB()

In [22]:
model.fit(x_train_count,y_train)

MultinomialNB()

In [24]:
emails = [
    'Hey mohan, can we get together to watch football game tomorrow',
    'Upto 20% discount on parking, exclusive offer just for you. Dont miss this reward!'
]

In [25]:
email_count = v.transform(emails)

In [26]:
model.predict(email_count)

array([0, 1], dtype=int64)

In [38]:
x_test_count = v.transform(x_test)

In [39]:
model.score(x_test_count,y_test)

0.9892318736539842

In [40]:
#process 2

In [41]:
from sklearn.pipeline import Pipeline

In [42]:
clf = Pipeline([
    ('vectorizer',CountVectorizer()),
    ('nb',MultinomialNB())
])

In [43]:
clf.fit(x_train,y_train)

Pipeline(steps=[('vectorizer', CountVectorizer()), ('nb', MultinomialNB())])

In [44]:
clf.score(x_test,y_test)

0.9870782483847811

In [46]:
clf.predict(emails)

array([0, 1], dtype=int64)